In [76]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score

# Importing the data

In [77]:
datas = pd.read_csv('C:/Users/CVR/Desktop/csvdata.csv')

# Reading the data

In [78]:
datas.head()

,Unnamed: 0,City,Price,Area,Location,No. of Bedrooms
0,0,Bangalore,30000000,3340,JP Nagar Phase 1,4
1,1,Bangalore,7888000,1045,Dasarahalli on Tumkur Road,2
2,2,Bangalore,4866000,1179,Kannur on Thanisandra Main Road,2
3,3,Bangalore,8358000,1675,Doddanekundi,3
4,4,Bangalore,6845000,1670,Kengeri,3

In [79]:
data2=datas.drop(['Unnamed: 0'],axis=1)

# Correlation metrics

In [80]:
data2.corr()

                    Price      Area  No. of Bedrooms
Price            1.000000  0.268954         0.150691
Area             0.268954  1.000000         0.709645
No. of Bedrooms  0.150691  0.709645         1.000000

# Data Types

In [81]:
data2.dtypes

City               object
Price               int64
Area                int64
Location           object
No. of Bedrooms     int64
dtype: object

# Renovating the data

In [82]:
y=data1['Price']
x=data1.drop(['Price','City','Location'],axis=1)

# Splitting the dataset into train and test datsets

In [83]:
xtrain,xtest,ytrain,ytest = train_test_split(x, y, test_size=0.05)

# Linear Regression Model

In [84]:
from sklearn.linear_model import LinearRegression
LM=LinearRegression()

# Training the model

In [85]:
LM.fit(xtrain,ytrain)

LinearRegression()

# Predicting the test values

In [86]:
pred=LM.predict(xtest)

# Measuring the accuracy of the Predictions

In [87]:
from sklearn.metrics import mean_squared_log_error as mse
mse(ytest,pred)

0.7016484050645841